.time-clock{
	margin-right: 10px;
}


.add-leave-time-clock{
	margin-bottom: 5px; 
}

.button-confirm{
	margin-right: 10px;
}

.button-cancel{
	margin-bottom: 5px; 
}

.request-time_stamp{
	margin-right: 10px;
}

.request_list{
	margin-right: 10px;
}