img{
	margin : 10px;
}

label{
	margin-top: 130px;
}

.user-image{
	border-radius: 30px;
	border : 1px solid;
	border-color: aqua;
}

.links>a:hover{
	filter: brightness(1.55);
}

.links>a>img{
	border-radius: 17px;
}

.image_menu{
	width: 160px;
	height: 160px;
}

@font-face {
	font-family: Kanit; 
}

*,h1,h2,h3,h4,h5,p,div,span,label,input,textarea,select,option,li,{
	font-family: "Kanit"  ;
}

h5{
	font-family: Kanit !important; 

}