.swal-wide{
    width:250px !important;
}

.largeWidth {
	font-size: 16px !important;
}

.user-image{
	border-radius: 30px;
	border : 1px solid;
	border-color: aqua;
}

.image_menu:hover{
	filter: brightness(1.55);
}

.image_menu{
	border-radius: 17px;
}

.image_menu{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

@font-face {
	font-family: Kanit;
}

*,h1,h2,h3,h4,h5,p,div,span,label,input,textarea,select,option,li{
	font-family: "Kanit" ;
}

h5,button{
	font-family: Kanit !important;

}
.text-error{
	color: red;
	font-style: italic;
	display: none;
	width: 100%;
	border-top: 2px solid red;
}

th{
	width: 5px;
	text-align: center;
}

.content_assessment,.assessment_grand_total{
	background-color: #222d32 !important;
	color: white;
}

tr>td{
	text-align: center;
}

.name_title{
	text-align: left !important;
}

.btn_success_evaluation{
	margin-right: 10px;
}

.grand_total{
	font-size: 20px;
}

.information_detail{
	color: white;
}

.input_box{
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	
}

.user-imaged{
	width: 160px;
	height: 160px;
}

.content_human_assessment{
	background-color: #222d32 !important;
}

#myTable_length, #myTable_info {
	margin-left: 30px !important;
}

#myTable_paginate, #myTable_filter{
	margin-right: 30px !important;
}