body {
	background-color: #222d32;
	font-family: kanit;
	font-size: 20px;
	/*color: white ;*/
}

.topic,.content-header,.text-head-small{
	/*color: white !important;*/
}

.box {
	margin-top: 20px !important;
}

input,select,option {
	border-radius: 10px !important;
	height: 50px !important;
	font-size: 15px !important;
	color: black !important;

}

.row {
	margin-top: 10%;
}

.datepicker,.yearpicker {
	color: black !important;
	text-align: center;
	background-color: white !important;
	border-color: gray !important;
}

.save,.cancel {
	margin-top: 10%;
	margin-right: 5px;
}

.set_holiday_day {
	color: gray !important;
	border-color: gray !important;
}

.page-footer {
	margin-top: 10% !important;
}

.mobile-show {
	font-size: 10px;

}

.mobile-head-show>h3 {
	font-size: 23px !important;
}

.table-show {
	margin-top: 5% !important;
	font-size: 18px !important;
}

.btn-trash:hover {
	background-color: red;
}

.btn-trash {
	border-color: red;
}


.btn-app {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.btn-app:hover {
  background-color: #555;
}
