.assessment{
	margin-right : 10px;
}

body{
	font-family: Kanit;
}

.btn-remove-topic {
	color: red !important;
	cursor: pointer !important;
}

.new-evaluation {
	margin-right: 15px !important;
}

.history_create_evaluations {
	margin-right: 5px !important;
}

.confirm_send_create_evaluations {
	margin-right: 5px !important;
}